body {
    background-color: beige ;
}

h1 {
    color: navy;
    font-style: italic;
}

/* CSS classes */

/* CSS IDs */
#page_title {
    color: blueviolet;
    font-weight: bold;
    font-size: 3rem;
    border: 1PX black;
    padding: 25px;
}
